In [1]:
import pandas as pd
import geopandas as gdp
import keplergl

## Leer los datos de terremotos

Puedes consultar la fuente de datos de Kaggle [aqu√≠](https://www.kaggle.com/mohitkr05/global-significant-earthquake-database-from-2150bc?select=Worldwide-Earthquake-database.csv)

In [2]:
df = pd.read_csv('data/Worldwide-Earthquake-database.csv')
df

,I_D,FLAG_TSUNAMI,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,FOCAL_DEPTH,EQ_PRIMARY,...,TOTAL_MISSING,TOTAL_MISSING_DESCRIPTION,TOTAL_INJURIES,TOTAL_INJURIES_DESCRIPTION,TOTAL_DAMAGE_MILLIONS_DOLLARS,TOTAL_DAMAGE_DESCRIPTION,TOTAL_HOUSES_DESTROYED,TOTAL_HOUSES_DESTROYED_DESCRIPTION,TOTAL_HOUSES_DAMAGED,TOTAL_HOUSES_DAMAGED_DESCRIPTION
0,1,No,-2150,NaN,NaN,NaN,NaN,,NaN,7.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Yes,-2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,No,-2000,NaN,NaN,NaN,NaN,NaN,18.0,7.1,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
3,5877,Yes,-1610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
4,8,No,-1566,NaN,NaN,NaN,NaN,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6188,10488,No,2020,4.0,1.0,12.0,23.0,27,10.0,5.3,...,NaN,NaN,NaN,NaN,11.28,3.0,NaN,NaN,790.0,3.0
6189,10490,Yes,2020,5.0,2.0,12.0,51.0,6,17.0,6.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6190,10491,No,2020,5.0,7.0,20.0,18.0,22,10.0,4.6,...,NaN,NaN,22.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
6191,10494,No,2020,5.0,18.0,13.0,48.0,3,10.0,5.2,...,NaN,NaN,24.0,1.0,NaN,2.0,NaN,1.0,NaN,NaN
6192,10501,Yes,2020,5.0,29.0,5.0,30.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['I_D', 'FLAG_TSUNAMI', 'YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE',
       'SECOND', 'FOCAL_DEPTH', 'EQ_PRIMARY', 'EQ_MAG_MW', 'EQ_MAG_MS',
       'EQ_MAG_MB', 'EQ_MAG_ML', 'EQ_MAG_MFA', 'EQ_MAG_UNK', 'INTENSITY',
       'COUNTRY', 'STATE', 'LOCATION_NAME', 'LATITUDE', 'LONGITUDE',
       'REGION_CODE', 'DEATHS', 'DEATHS_DESCRIPTION', 'MISSING',
       'MISSING_DESCRIPTION', 'INJURIES', 'INJURIES_DESCRIPTION',
       'DAMAGE_MILLIONS_DOLLARS', 'DAMAGE_DESCRIPTION', 'HOUSES_DESTROYED',
       'HOUSES_DESTROYED_DESCRIPTION', 'HOUSES_DAMAGED',
       'HOUSES_DAMAGED_DESCRIPTION', 'TOTAL_DEATHS',
       'TOTAL_DEATHS_DESCRIPTION', 'TOTAL_MISSING',
       'TOTAL_MISSING_DESCRIPTION', 'TOTAL_INJURIES',
       'TOTAL_INJURIES_DESCRIPTION', 'TOTAL_DAMAGE_MILLIONS_DOLLARS',
       'TOTAL_DAMAGE_DESCRIPTION', 'TOTAL_HOUSES_DESTROYED',
       'TOTAL_HOUSES_DESTROYED_DESCRIPTION', 'TOTAL_HOUSES_DAMAGED',
       'TOTAL_HOUSES_DAMAGED_DESCRIPTION'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6193 entries, 0 to 6192
Data columns (total 47 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   I_D                                 6193 non-null   int64
 1   FLAG_TSUNAMI                        6193 non-null   object
 2   YEAR                                6193 non-null   int64
 3   MONTH                               5786 non-null   float64
 4   DAY                                 5632 non-null   float64
 5   HOUR                                4151 non-null   float64
 6   MINUTE                              3946 non-null   float64
 7   SECOND                              4347 non-null   object
 8   FOCAL_DEPTH                         3228 non-null   float64
 9   EQ_PRIMARY                          4402 non-null   float64
 10  EQ_MAG_MW                           1321 non-null   float64
 11  EQ_MAG_MS                           2928 non-null   float64
 12  EQ_MAG_MB                           1802 non-null   float64
 13  EQ_MAG_ML                           184 non-null    float64
 14  EQ_MAG_MFA                          14 non-null     float64
 15  EQ_MAG_UNK                          777 non-null    float64
 16  INTENSITY                           2815 non-null   float64
 17  COUNTRY                             6193 non-null   object
 18  STATE                               321 non-null    object
 19  LOCATION_NAME                       6192 non-null   object
 20  LATITUDE                            6144 non-null   object
 21  LONGITUDE                           6144 non-null   object
 22  REGION_CODE                         6192 non-null   float64
 23  DEATHS                              2064 non-null   float64
 24  DEATHS_DESCRIPTION                  2544 non-null   float64
 25  MISSING                             21 non-null     float64
 26  MISSING_DESCRIPTION                 21 non-null     float64
 27  INJURIES                            1238 non-null   float64
 28  INJURIES_DESCRIPTION                1424 non-null   float64
 29  DAMAGE_MILLIONS_DOLLARS             508 non-null    float64
 30  DAMAGE_DESCRIPTION                  4431 non-null   float64
 31  HOUSES_DESTROYED                    782 non-null    float64
 32  HOUSES_DESTROYED_DESCRIPTION        1698 non-null   float64
 33  HOUSES_DAMAGED                      483 non-null    float64
 34  HOUSES_DAMAGED_DESCRIPTION          928 non-null    float64
 35  TOTAL_DEATHS                        1693 non-null   float64
 36  TOTAL_DEATHS_DESCRIPTION            2029 non-null   float64
 37  TOTAL_MISSING                       25 non-null     float64
 38  TOTAL_MISSING_DESCRIPTION           26 non-null     float64
 39  TOTAL_INJURIES                      1253 non-null   float64
 40  TOTAL_INJURIES_DESCRIPTION          1433 non-null   float64
 41  TOTAL_DAMAGE_MILLIONS_DOLLARS       453 non-null    float64
 42  TOTAL_DAMAGE_DESCRIPTION            3273 non-null   float64
 43  TOTAL_HOUSES_DESTROYED              813 non-null    float64
 44  TOTAL_HOUSES_DESTROYED_DESCRIPTION  1777 non-null   float64
 45  TOTAL_HOUSES_DAMAGED                421 non-null    float64
 46  TOTAL_HOUSES_DAMAGED_DESCRIPTION    809 non-null    float64
dtypes: float64(38), int64(2), object(7)
memory usage: 2.2+ MB

## Limpieza y preparaci√≥n de datos

Convertimos las columnas de latitud y longitud a num√©ricas, los errores se convertir√°n en NaN

In [8]:
df['LONGITUDE'] # Antes de la transformaci√≥n (checa dtype)

0          35.5
1          35.8
2          58.2
3          25.4
4          35.3
         ...
6188     98.916
6189     25.712
6190     52.044
6191    103.281
6192    114.242
Name: LONGITUDE, Length: 6193, dtype: object

In [9]:
df['LONGITUDE'] = pd.to_numeric(df.LONGITUDE, errors='coerce')
df['LATITUDE'] = pd.to_numeric(df.LATITUDE, errors='coerce')

In [10]:
df['LONGITUDE'] # Despu√©s de la transformaci√≥n (checa dtype)

0        35.500
1        35.800
2        58.200
3        25.400
4        35.300
         ...
6188     98.916
6189     25.712
6190     52.044
6191    103.281
6192    114.242
Name: LONGITUDE, Length: 6193, dtype: float64

Nos deshacemos de las filas con datos perdidos para latitud, longitud e intensidad (del terremoto)

In [11]:
df.dropna(subset=['LONGITUDE', 'LATITUDE', 'INTENSITY'], inplace=True)

Tambi√©n convertimos la columna "FLAG_TSUNAMI" a n√∫meros enteros, la necesitaremos en ese formato

In [12]:
df.FLAG_TSUNAMI.values

array(['Yes', 'No', 'No', ..., 'No', 'Yes', 'Yes'], dtype=object)

In [13]:
df['FLAG_TSUNAMI'] = [1 if i=='Yes' else 0 for i in df.FLAG_TSUNAMI.values] # List comprehension

In [14]:
df

,I_D,FLAG_TSUNAMI,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,FOCAL_DEPTH,EQ_PRIMARY,...,TOTAL_MISSING,TOTAL_MISSING_DESCRIPTION,TOTAL_INJURIES,TOTAL_INJURIES_DESCRIPTION,TOTAL_DAMAGE_MILLIONS_DOLLARS,TOTAL_DAMAGE_DESCRIPTION,TOTAL_HOUSES_DESTROYED,TOTAL_HOUSES_DESTROYED_DESCRIPTION,TOTAL_HOUSES_DAMAGED,TOTAL_HOUSES_DAMAGED_DESCRIPTION
1,2,1,-2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,0,-2000,NaN,NaN,NaN,NaN,NaN,18.0,7.1,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
4,8,0,-1566,NaN,NaN,NaN,NaN,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,11,0,-1450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,14,0,-759,NaN,NaN,NaN,NaN,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6184,10483,0,2020,3.0,10.0,10.0,18.0,6,23.0,5.0,...,NaN,NaN,4.0,1.0,NaN,2.0,NaN,NaN,1137.0,4.0
6185,10485,0,2020,3.0,18.0,13.0,9.0,31,12.0,5.7,...,NaN,NaN,NaN,NaN,48.5,4.0,NaN,NaN,NaN,3.0
6186,10486,0,2020,3.0,22.0,5.0,24.0,3,10.0,5.4,...,NaN,NaN,27.0,1.0,6000.0,4.0,6305.0,4.0,20000.0,4.0
6187,10487,1,2020,3.0,25.0,2.0,49.0,21,57.0,7.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6189,10490,1,2020,5.0,2.0,12.0,51.0,6,17.0,6.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Las columnas de latitud y longitud no se ve√≠an en la muestra anterior. Las mostramos en esta ocasi√≥n para corroborar su formato.

In [15]:
df.loc[:,('LATITUDE','LONGITUDE')] # loc == location

      LATITUDE  LONGITUDE
1       35.683     35.800
2       38.000     58.200
4       31.500     35.300
5       35.500     25.500
9       33.000     35.500
...        ...        ...
6184    -6.808    106.676
6185    40.751   -112.078
6186    45.897     15.966
6187    48.986    157.693
6189    34.205     25.712

[2810 rows x 2 columns]

## Generamos un mapa y le agregamos datos

En el men√∫ lateral izquierdo tenemos:
- Layers ‚Äî Define c√≥mo las variables se encuentran incrustadas en el mapa (recuerda que una variable es una columna en tus datos).
- Filters ‚Äî Desde aqu√≠ podemos filtrar para obtener muestras m√°s peque√±as de nuestro conjunto de datos.
- Interactions ‚Äî Define las interacciones, como los tooltips, cajas de b√∫squeda, entre otras cosillas.
- Basemap ‚Äî Define el estilo de el mapa del mundo y otros elementos, como etiquetas, carreteras y estilos.

Nota de Omar del pasado: Omar del presente, haz lo siguiente.
- Agrega una nueva capa, utiliza hex√°gonos y elige un radio mayor pues recuerda que la densidad de los terremotos es menor que 1km.
- Agrega otra capa de puntos basado en "FLAG_TSUNAMI", cambia de "quantile" a "quantize", selecciona otra escala de colores de 3 pasos, y muestra la caja de leyendas.
- Explora un poco los datos: ¬øhay terremotos relativamente lejanos al oc√©ano?
- Ve a la parte de interacciones

In [17]:
kepler_map = keplergl.KeplerGl(height=500)
kepler_map

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(height=500)

In [18]:
kepler_map.add_data(data=df, name="earthquakes")

In [22]:
kepler_map.save_to_html(file_name='output/html/ejercicio_uc.html')

Map saved to output/html/ejercicio_uc.html!